.card-body{
    width: 100%;
    display: grid;
    padding: 10px 0px;
    grid-template-columns: repeat(3, 1fr);
    span{
        justify-content: center;
        display: flex;
        min-width: 6em;
        align-items: center;
    }
    button{
        cursor: pointer;
        background: transparent;
        border: 0px;
    }
}

.shadow {
    background-color: var(--reporte-tablero-body-cell-fondo-oscuro, #e6e6e6);
}

.clear {
    background-color: var(--reporte-tablero-body-cell-fondo-claro, white);
}

.card-body:hover{
    background-color: #2199e84f;
}